<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>IDrive Invoice</title>
  <link rel="stylesheet" href="../../../assets/css/invoice.css">
</head>

<body>

<!-- Print Button -->
<a href="javascript:window.print()" class="print-button">Print this invoice</a>

<!-- Invoice -->
<div id="invoice">

  <!-- Header -->
  <div class="row">
    <div class="col-md-6">
      <div id="logo"><img src="assets/images/logo.png" alt=""></div>
    </div>

    <div class="col-md-6">

      <p id="details">
        <strong>Issued:</strong> {{today}} <br>
        <strong>From:</strong> {{startDate}} <br>
        <strong>To:</strong> {{endDate}} <br>
        Due 7 days from date of issue
      </p>
    </div>
  </div>


  <!-- Client & Supplier -->
  <div class="row">
    <div class="col-md-12">
      <h2>Invoice</h2>
    </div>

    <div class="col-md-6">
      <strong class="margin-bottom-5">Supplier</strong>
      <p>
        {{ownerName}} <br>
        {{ownerEmail}} <br>
      </p>
    </div>

    <div class="col-md-6">
      <strong class="margin-bottom-5">Customer</strong>
      <p>
        {{user.fullName}} <br>
         {{user.email}} <br>
      </p>
    </div>
  </div>


  <!-- Invoice -->
  <div class="row">
    <div class="col-md-12">
      <table class="margin-top-20">
        <tr>
          <th>Vehicle</th>
          <th>Description</th>
          <th>Location</th>
          <th>Order Amount</th>
        </tr>

        <tr>
          <td>{{vehicleBrand}}</td>
          <td>{{vehicleDescription}}</td>
          <td>{{vehicleLocation}}</td>
          <td>{{totalPrice}}</td>
        </tr>
      </table>
    </div>

    <div class="col-md-4 col-md-offset-8">
      <table id="totals">
        <tr>
          <th>Total Due</th>
          <th><span>{{totalPrice}}</span></th>
        </tr>
      </table>
    </div>
  </div>


  <!-- Footer -->
  <div class="row">
    <div class="col-md-12">
      <ul id="footer">
        <li><span>www.example.com</span></li>
        <li>office@example.com</li>
        <li>(123) 123-456</li>
      </ul>
    </div>
  </div>

</div>


</body>

<!-- -invoice.html /3.x [XR&CO'2014], Mon, 28 Dec 2020 12:16:03 GMT -->
</html>
